{# app/Resources/views/home.html.twig #}

{% block head %}
<HEAD>
    <TITLE>Inginious Photos</TITLE>

    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta charset="utf-8" />
    <meta NAME="keywords" CONTENT="NGINX, NGINX Plus, NGRA, Reference Architecture">
    <meta NAME="description" CONTENT="The NGINX Microservices Reference Architecture">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="129544795844-404ld40323v59g792dp147dspiiseu1b.apps.googleusercontent.com">
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('bundles/inginious/css/main.css') }}" rel="stylesheet" />
    {% endblock %}

    {% block favicon %}
    <link rel="icon" type="image/png" href="https://www.nginx.com/wp-content/themes/nginx-theme/assets/img/nginx-favicon.png">
    {% endblock %}
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://hammerjs.github.io/dist/hammer.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="{{ asset('bundles/inginious/js/inginious.js') }}"></script>
        <script src="{{ asset('bundles/inginious/js/js.cookie.js') }}"></script>
    {% endblock %}


</HEAD>
{% endblock %}
<body>
    {% block bodycontainer %}
    <div class="container">
        <!-- header -->
        {% block pagehead %}
        <header class="pg-hd">
            {% block headlogo %}
                {{ include('login_panel.html.twig') }}
                <section>
                    <div class="menu-login">
                        {% block loginButton %}
                            <div id="login-control">
                                <img id="login-button" onclick="showHideControlPanel(this, '#login-panel')" src='{{ asset('bundles/inginious/images/login.png', version='1.0') }}'>
                            </div>
                        {% endblock %}
                        <img onClick="showHideMenu()" class="hamburger" alt='menu' src='{{ asset('bundles/inginious/images/hamburger.png', version='1.0') }}'>
                    </div>
            </section>
            {% endblock %}
             <!-- Mobile Menu -->
            {% block mobilenav %}
            <div class="topdown-menu">

                <div class="topdown-menu__nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/myphotos">My Photos</a></li>
                        <li><a href="/account">My Account</a></li>
                    </ul>
                </div>
                <div class="topdown-menu__branding">
                    <h5>NGINX Reference Architecture</h5>
                    <p class="branding-logo">inginious photos</p>
                    <p>&copy; 2015, NGINX Corp</p>
                </div>
            </div>
            {% endblock %}
            <!--/mobile menu -->
        </header>
        {% endblock %}

        {% block pagebody %}
        <main class="pg-bd">
            {% block hero %}
            <section class="hero" style="background-image: url('{{ asset('bundles/inginious/images/cover_images/photos.jpg') }}')" >
                <div class="wrapper" >
                    <h1 class="headline" >inginious photos</h1>
                    {% block subhead %}<h2 class="subhead" >From the sublime to the bizarre.</h2>{% endblock %}
                </div>
            </section>
            {% endblock %}
            {% block articles %}
            <section class="articles-container">

                <div id="next-content"></div>

                <hr>
            </section>
            <hr>
            {% endblock %}
            {% block albums %}

            {% endblock %}
            <hr>
        </main>
        {% endblock %}
        <section id="photo-list">
        </section>
        <!-- footer -->
        {% block footer %}
        <footer class="pg-ft">
            <div class="wrapper">
                <ul class="branding">
                    <li class="copyright">&copy; 2015, NGINX Corp., all rights reserved.</li>
                    <li class="branding-logo">
                        inginious photos
                    </li>
                </ul>
            </div>

        </footer>
        {% endblock %}
        <!--/footer-->
    </div>
    {% endblock %}

</body>
</html>
