
<section class="photo-set-list">
    <ul class="navlist">
        <li class="photo-set">
            <a class="photo-set-link" href="#">
                <img onClick="showHideUploadPanel(this, '#upload-panel',true);return false;" src="{{ asset('bundles/inginious/images/upload.png', version='1.0') }}" alt="upload-icon">
                <div class="description">Click to upload.</div>
            </a>
        </li>

    {% for album in catalog|reverse %}
        <li class="photo-set">
            <a onClick="showHidePhotoGallery('{{ catalogID }}','{{ album.name }}', '{{ album.id }}');return false;" class="photo-set-link" href="#">
                {% if album.poster_image is defined %}
                    <img src="{{ album.poster_image.thumb_url }}" alt="{{ album.name }}">
                {% endif %}
                <div class="description">{{ album.name }}</div>
            </a>
        </li>
    {% endfor %}
    </ul>
</section>
    {{ include('upload_panel.html.twig') }}
