{# app/Resources/views/index.html.twig #}
{% extends 'base.html.twig' %}
{% block hero %}
    <section class="hero" style="background-image: url( {{asset('bundles/inginious/images/cover_images/CristoRedentor_PaodeAcucar_1440x420.jpg', version='1.0')}});" >
        <div class="wrapper" >
            <h1 class="headline" >inginious photos</h1>
            {% block subhead %} <h2 class="subhead" >{{ loginRequired | default("From The Sublime To The Bizarre") }}</h2> {% endblock %}
        </div>
    </section>
{% endblock %}



{% block articles %}
    <section class="articles-container">

        <hr>



        <div class="article-wrapper">

            <ul class="story">
                <li class="story-image">
                    <a class="full-story" href="/#stories/rio-go-for-gold">
                        <img alt="" src="{{asset('bundles/inginious/images/cover_images/imageRio001_HD.jpg', version='1.0')}}">
                    </a>
                </li>
                <li class="story-content">
                    <a class="full-story" href="/#stories/rio-go-for-gold">
                        <h1 class="story-title">Rio -- Go For Gold!</h1>
                    </a>
                    <h2 class="story-sub-title"></h2>
                    <div class="date-line">2016-01-13 23:06:31, Rio, BR</div>
                    <div class="story-article">
                        With the summer games coming up this year in Rio, the Inginious staff has decided to publish the best photo series that our users have created of the spectacular vistas and scenes in Rio. Perhaps one of the most enigmatic cities in the world, Rio shows off the beauty and struggle that Brazil, and much of the developing world experiences on a daily basis.
                    </div>
                    <a class="full-story" href="/#stories/rio-go-for-gold">Continue Reading</a>
                    <div class="author">Inginious Editorial Staff</div>
                </li>
            </ul>
        </div>

            <hr>

        <div class="article-wrapper">
            <ul class="story">
                <li class="story-image">
                    <a class="full-story" href="/#stories/paris-glory">
                        <img alt="" src="{{ asset('bundles/inginious/images/cover_images/eiffel_tower_2000-04_05.jpg')}}">
                    </a>
                </li>
                <li class="story-content">
                    <a class="full-story" href="/#stories/paris-glory">
                        <h1 class="story-title">Paris in all it's Glory</h1>
                    </a>
                    <h2 class="story-sub-title"></h2>
                    <div class="date-line">2015-12-07 23:06:31, Paris, FR</div>
                    <div class="story-article">
                        Paris has been the center of attention of late for reasons not related to it's beauty, depth of culture, history or fabulous food. The tragic events that unfolded there recently are a stain upon of humanity and are a reminder that even in the most civilized city in the world, barbarism can strike out of the bleu. The editors at Inginious decided to make a photo montage of our favorite, public photos of Paris to remind everyone of its glory, its wonderful people and the beauty that is inherent to the city. Enjoy.
                    </div>
                    <a class="full-story" href="/#stories/paris-glory">Continue Reading</a>
                    <div class="author">Inginious Editorial Staff</div>
                </li>
            </ul>
        </div>

        <hr>



        <div class="article-wrapper">

            <ul class="story">
                <li class="story-image">
                    <a class="full-story" href="/#stories/nyc-b-and-w">
                        <img alt="" src="{{ asset('bundles/inginious/images/cover_images/an_eye_for_nyc_1999_01.jpg')}}">
                    </a>
                </li>
                <li class="story-content">
                    <a class="full-story" href="/#stories/nyc-b-and-w">
                        <h1 class="story-title">Black and White Photos From Around The World</h1>
                    </a>
                    <h2 class="story-sub-title"></h2>
                    <div class="date-line">2015-11-14 23:17:31, Oakland, CA</div>
                    <div class="story-article">
                        We have finally gotten around to putting up all the photos we have been taking recently and hopefully they will look better than ever. Shelly, as an early birthday present, got a new Nikon D90 SLR camera. It is basically a good pro-sumer camera that has a good lense, quick focus and high-resolution. The pictures in Adventure Park photos in Double Girl Power  are an example of the kind of pictures that this Camera can take.
                        <br>
                    </div>
                    <a class="full-story" href="/#stories/nyc-b-and-w">Continue Reading</a>
                    <div class="author">Inginious Editorial Staff</div>
                </li>
            </ul>
        </div>

    </section>

{% endblock %}
{% block albums %}
{% endblock %}