        <section id="albums" class="albums">
            <div class="container-fluid">
                <div class="row">
                    <div class="page-content">
                        <h3 class="page-title">My Albums</h3>
                        <div class="cat-album-container">
                            {% for album in catalog|reverse %}
                            <div class="col-sm-2 col-xs-4 album-thumb">
                                <a class="photo-set-link" href="/photos/{{ catalogID }}/{{ album.name }}/{{ album.id }}">
                                    <div class="photo-and-caption">
                                        {% if album.poster_image is defined %}
                                            <figure>
                                                <img src="{{ album.poster_image.thumb_url }}" alt="{{ album.name }}">
                                            </figure>
                                        {% else %}
                                        {% endif %}
                                        <h3 class="album-caption">{{ album.name }}</h3>
                                    </div>
                                </a>
                            </div><!--./single album thumb-->
                            {% endfor %}
                            
                        </div>
                    </div>
                    <div class="gradient"></div>
                </div>
            </div> <!--./end container-->
        </section>
        <section id="photo-list"></section>
        {{ include('upload_panel.html.twig') }}