{% block mobilenav %}
    <nav class="main-nav nav-close">
        <a class="nav-close-btn" href="#"><img src="{{ asset('bundles/ingenious/images/nav-close.png') }}"></a>
        <ul class="main-nav-items">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/myphotos">My Photos</a></li>
            <li class="nav-item"><a href="/account">My Account</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
        </ul>
        {% block loginButton %}
            <a class="login-btn" href="/login">Login</a>
        {% endblock %}
    </nav><!--./Offcanvas Nav-->
        
    <!--Offcanvas Right Nav-->
    <nav class="right-nav nav-close">
        <a class="nav-close-btn" href="#"><img src="{{ asset('bundles/ingenious/images/nav-close.png') }}"></a>
        <ul class="right-nav-items">
            <li class="nav-item"><a href="#" class="add-album-btn">New Album</a></li>
            <li class="nav-item"><a href="#" class="add-photo-btn">Add Photo</a></li>
            <li class="nav-item"><a href="#" class="delete-album-btn">Delete Album</a></li>
        </ul>
    </nav><!--./Offcanvas Right Nav-->
{% endblock %}

{% block header_hero %}
    <header class="fixed-top-header">
        <div class="nav-btn main-nav-btn">
            <a href="#"><img src="{{ asset('bundles/ingenious/images/hamburger.png') }}"></a>
        </div>

        {% block headlogo %}
            <div class="header-logo">
                <a href="/"><img src="{{ asset('bundles/ingenious/images/logo.png') }}"></a>
            </div>
        {% endblock %}

        <div class="right-nav-btn">
            {% if catalog is defined  %}<!--User Must be logged in and PhotoManager intialized -->
            <a href="#"><img src="{{ asset('bundles/ingenious/images/icon-plus.png') }}"></a>
            {% endif %}
        </div>
    </header> <!-- ./header end-->

    <!-- New album form -->
    <div id="add-album" class="add-album close">
        <div class="profile-update-form">
            <h1 class="page-title">New Album</h1>
            <form id="album-upload" action="{{ uploader }}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Name</label>
                    <div class="col-xs-8">
                        <input class="form-control" id="album-name" type="text" pattern="^[A-Za-z0-9 _.,-]+$" required="required"
                               placeholder="A-Z, 0-9, '_', '-', '.' and ',': no unusual characters" maxlength="31">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Add Photos</label>
                    <div class="col-xs-8">
                        <div class="col-xs-4 update-pp">
                            <input class="form-control" id="album-photo-input" type="file" multiple="multiple"
                                   accept="image/*" required="required">
                            <span id="browse-button-album">Browse</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 update-account">
                        <button class="btn" type="submit" >Create Album</button>
                    </div>
                    <label class="col-sm-offset-1 control-label" id="album-loading"></label><br>
                    <div class="result" id="album-result">
                        <div id="album-upload-thumbs"></div>
                    </div>
                    <div class="upload-thumb"  id="album-upload-thumb-proto">
                        <img alt='animation' src='{{ asset('bundles/ingenious/images/uploading.gif', version='1.0') }}'>
                        <div class="control-label file-size"></div>
                    </div>
                    <div class="col-md-12 cancel-upload">
                        <a href="#"><img src="{{ asset('bundles/ingenious/images/hex-icon.png') }}"></a>
                    </div>
                </div>
            </form>
            <div class="cancel-upload">
                <a href="#"><img src="{{ asset('bundles/ingenious/images/nav-close-light.png') }}"></a>
            </div>
        </div>
    </div> <!-- New album form end -->

    <!-- Add photo to an existent album form -->
    <div id="add-photo" class="add-photo close">
        <div class="profile-update-form">
            <h1 class="page-title">Add Photos</h1>
            <form id="photo-upload" action="{{ uploader }}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Album</label>
                    <div class="col-xs-8">
                        <div id="photos-list-existent-albums" class="col-xs-12 col-sm-8 select-album">
                            <select class="form-control" id="add-photos-album-id">
                                <option value="undefined">---</option>
                                {% if catalog is defined %}
                                    {% for album in catalog|reverse %}
                                        <option value="{{ album.id }}">{{ album.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Upload</label>
                    <div class="col-xs-8">
                        <div class="col-xs-4 update-pp">
                            <input class="form-control" id="add-photo-input" type="file" multiple="multiple"
                                   accept="image/*" required="required">
                            <span id="browse-button-photos">Browse</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 update-account">
                        <button class="btn" id="add-photo-button" type="submit">Add Photos</button>
                    </div>
                    <label class="col-sm-offset-1 control-label" id="photos-loading"></label><br>
                    <div class="result" id="photos-result">
                        <div id="photos-upload-thumbs"></div>
                    </div>
                    <div class="upload-thumb"  id="photos-upload-thumb-proto">
                        <img alt='animation' src='{{ asset('bundles/ingenious/images/uploading.gif', version='1.0') }}'>
                        <div class="control-label file-size"></div>
                    </div>
                    <div class="col-md-12 cancel-upload">
                        <a href="#"><img src="{{ asset('bundles/ingenious/images/hex-icon.png') }}"></a>
                    </div>
                </div>
            </form>
            <div class="cancel-upload">
                <a href="#"><img src="{{ asset('bundles/ingenious/images/nav-close-light.png') }}"></a>
            </div>
        </div>
    </div> <!-- Add photo form end -->

    <!-- Delete an album form -->
    <div id="delete-album" class="delete-album close">
        <div class="profile-update-form">
            <h1 class="page-title">Delete Album</h1>
            <form id="album-delete" class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Album</label>
                    <div class="col-xs-8">
                        <div id="delete-list-existent-albums" class="col-xs-12 col-sm-8 select-album">
                            <select class="form-control" id="delete-album-id">
                                <option value="undefined">---</option>
                                {% if catalog is defined %}
                                    {% for album in catalog|reverse %}
                                        <option value="{{ album.id }}">{{ album.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 update-account">
                        <button class="btn" type="submit">Delete Album</button>
                    </div>
                    <label class="col-sm-offset-1 control-label" id="delete-info"></label><br>
                    <div class="col-md-12 cancel-upload">
                        <a href="#"><img src="{{ asset('bundles/ingenious/images/hex-icon.png') }}"></a>
                    </div>
                </div>
            </form>
            <div class="cancel-upload">
                <a href="#"><img src="{{ asset('bundles/ingenious/images/nav-close-light.png') }}"></a>
            </div>
        </div>
    </div> <!-- Delete album form end -->

    <!-- Add cover form -->
    <div id="add-cover-photo" class="add-cover-photo close">
        <div class="profile-update-form">
            <h1 class="page-title">Add Cover Photo</h1>
            <form id="cover-upload" action="{{ uploader }}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Photo</label>
                    <div class="col-xs-8">
                        <div class="col-xs-4 update-pp">
                            <input class="form-control" id="add-cover-input" type="file" accept="image/*"
                                   required="required">
                            <span id="browse-button-cover">Browse</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 update-account">
                        <button class="btn" id="add-cover-button" type="submit">Add Cover</button>
                    </div>
                    <div class="col-md-12 cancel-upload">
                        <a href="#"><img src="{{ asset('bundles/ingenious/images/hex-icon.png') }}"></a>
                    </div>
                </div>
            </form>
            <div class="cancel-upload">
                <a href="#"><img src="{{ asset('bundles/ingenious/images/nav-close-light.png') }}"></a>
            </div>
        </div>
    </div> <!-- Add cover photo form end -->

{% endblock %}