{% block mobilenav %}
    <nav class="main-nav nav-close" id="left-menu">
        <a class="nav-close-btn" href="#"><img src="{{ asset('bundles/ingenious/images/nav-close.png') }}"></a>
        <ul class="main-nav-items">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/myphotos">My Photos</a></li>
            <li class="nav-item"><a href="/account">My Account</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
        </ul>
        {% block loginButton %}
            {% if not authenticated %}
                <a id="logInlogOutB" class="login-btn" href="/login">Log In</a>
            {% else %}
                <div style="display: none" class="g-signin2"></div>
                <a class="logout-btn" href="#" onclick="signOut();">Log Out</a>
            {% endif %}
        {% endblock %}
    </nav><!--./Offcanvas Nav-->
        
    <!--Offcanvas Right Nav-->
    <nav class="right-nav nav-close">
        <a class="nav-close-btn" href="#"><img src="{{ asset('bundles/ingenious/images/nav-close.png') }}"></a>
        <ul class="right-nav-items">
            <li class="nav-item"><a href="#" class="add-album-btn">New Album</a></li>
            <li class="nav-item"><a href="#" class="add-photo-btn">Add Photo</a></li>
            <li class="nav-item"><a href="#" class="delete-album-btn">Delete Album</a></li>
            <li class="nav-item"><a href="#" class="create-post-btn">Create Post</a></li>
        </ul>
    </nav><!--./Offcanvas Right Nav-->
{% endblock %}

{% block header_hero %}
    <header class="fixed-top-header">
        <div class="nav-btn main-nav-btn">
            <a href="#"><img src="{{ asset('bundles/ingenious/images/hamburger.png') }}"></a>
        </div>

        {% block headlogo %}
            <div class="header-logo">
                <a href="/"><img src="{{ asset('bundles/ingenious/images/logo.png') }}"></a>
            </div>
        {% endblock %}

        <div class="right-nav-btn">
            {% if catalog is defined  %}<!--User Must be logged in and PhotoManager intialized -->
            <a href="#"><img src="{{ asset('bundles/ingenious/images/icon-plus.png') }}"></a>
            {% endif %}
        </div>
    </header> <!-- ./header end-->

    <!-- New album form -->
    <div id="add-album" class="add-album close">
        <div class="profile-update-form">
            <h1 class="page-title">New Album</h1>
            <form id="album-upload" action="{{ uploader }}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Name</label>
                    <div class="col-xs-8">
                        <input class="form-control" id="album-name" type="text" pattern="^[A-Za-z0-9 _.,-]+$" required="required"
                               placeholder="A-Z, 0-9, '_', '-', '.' and ',': no unusual characters" maxlength="31">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Add Photos</label>
                    <div class="col-xs-8">
                        <div class="col-xs-4 update-pp">
                            <input class="form-control" id="album-photo-input" type="file" multiple="multiple"
                                   accept="image/*" required/>
                            <span id="browse-button-album">Browse</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 update-account">
                        <button class="btn" type="submit" >Create Album</button>
                    </div>
                    <label class="col-sm-offset-1 control-label" id="album-loading"></label><br>
                    <div class="result" id="album-result">
                        <div id="album-upload-thumbs"></div>
                    </div>
                    <div class="upload-thumb"  id="album-upload-thumb-proto">
                        <img alt='animation' src='{{ asset('bundles/ingenious/images/uploading.gif', version='1.0') }}'>
                        <div class="control-label file-size"></div>
                    </div>
                </div>
            </form>
            <div class="cancel-upload">
                <a href="#"><img src="{{ asset('bundles/ingenious/images/nav-close-light.png') }}"></a>
            </div>
        </div>
    </div> <!-- New album form end -->

    <!-- Add photo to an existent album form -->
    <div id="add-photo" class="add-photo close">
        <div class="profile-update-form">
            <h1 class="page-title">Add Photos</h1>
            <form id="photo-upload" action="{{ uploader }}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Album</label>
                    <div class="col-xs-8">
                        <div id="photos-list-existent-albums" class="col-xs-12 col-sm-8 select-album">
                            <select class="form-control" id="add-photos-album-id">
                                <option value="undefined">---</option>
                                {% if catalog is defined %}
                                    {% for album in catalog|reverse %}
                                        {% if album.id != profilePicturesID and album.id != coverPicturesID and album.state == 'active' %}
                                            <option value="{{ album.id }}">{{ album.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Upload</label>
                    <div class="col-xs-8">
                        <div class="col-xs-4 update-pp">
                            <input class="form-control" id="add-photo-input" type="file" multiple="multiple"
                                   accept="image/*" required/>
                            <span id="browse-button-photos">Browse</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 update-account">
                        <button class="btn" id="add-photo-button" type="submit">Add Photos</button>
                    </div>
                    <label class="col-sm-offset-1 control-label" id="photos-loading"></label><br>
                    <div class="result" id="photos-result">
                        <div id="photos-upload-thumbs"></div>
                    </div>
                    <div class="upload-thumb"  id="photos-upload-thumb-proto">
                        <img alt='animation' src='{{ asset('bundles/ingenious/images/uploading.gif', version='1.0') }}'>
                        <div class="control-label file-size"></div>
                    </div>
                </div>
            </form>
            <div class="cancel-upload">
                <a href="#"><img src="{{ asset('bundles/ingenious/images/nav-close-light.png') }}"></a>
            </div>
        </div>
    </div> <!-- Add photo form end -->

    <!-- Delete an album form -->
    <div id="delete-album" class="delete-album close">
        <div class="profile-update-form">
            <h1 class="page-title">Delete Album</h1>
            <form id="album-delete" class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Album</label>
                    <div class="col-xs-8">
                        <div id="delete-list-existent-albums" class="col-xs-12 col-sm-8 select-album">
                            <select class="form-control" id="delete-album-id">
                                <option value="undefined">---</option>
                                {% if catalog is defined %}
                                    {% for album in catalog|reverse %}
                                        {% if album.id != profilePicturesID and album.id != coverPicturesID and album.state == 'active' %}
                                            <option value="{{ album.id }}">{{ album.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 update-account">
                        <button class="btn" type="submit">Delete Album</button>
                    </div>
                    <label class="col-sm-offset-1 control-label" id="delete-info"></label><br>
                </div>
            </form>
            <div class="cancel-upload">
                <a href="#"><img src="{{ asset('bundles/ingenious/images/nav-close-light.png') }}"></a>
            </div>
        </div>
    </div> <!-- Delete album form end -->

    <!-- New Post form -->
    <div id="add-post" class="create-post close">
        <div class="profile-update-form">
            <h1 class="page-title">Create Post</h1>
            <form id="create-post" action="{{ contentManager }}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Title</label>
                    <div class="col-xs-8">
                        <input name="title" id="post-title" type="text" class="form-control" required="required" maxlength="128">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Body</label>
                    <div class="col-xs-8">
                        <textarea name="body" id="post-body" type="text" class="post-body" required="required"></textarea>
                    </div>
                </div>
                <div id="add-post-existent-albums" class="col-xs-12 col-sm-8 select-album">
                    <select class="form-control" id="add-post-album-id" name="album_id">
                        <option value="undefined">---</option>
                        {% if catalog is defined %}
                            {% for album in catalog|reverse %}
                                <option value="{{ album.id }}">{{ album.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="form-group" id="upload-post-photo" {% if articlePicturesID is defined %}
                        articlePicturesID="{{ articlePicturesID }}"{% endif %}>
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Photo</label>
                    <div class="col-xs-8">
                        <input name="photo" id="post-photo" type="text" class="form-control" required="required" maxlength="128">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Author</label>
                    <div class="col-xs-8">
                        <input name="author" id="post-author" type="text" class="form-control" required="required" maxlength="128">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Excerpt</label>
                    <div class="col-xs-8">
                        <input name="extract" id="post-extract" type="text" class="form-control" required="required" maxlength="128">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Location</label>
                    <div class="col-xs-8">
                        <input name="location" id="post-location" type="text" class="form-control" required="required" maxlength="128">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 update-account">
                        <button class="btn" id="add-post-button" type="submit">Create Post</button>
                    </div>
                    <label class="col-sm-offset-1 control-label" id="post-loading"></label><br>
                    <div class="result" id="post-result"></div>
                    <div class="post-upload-thumb"  id="post-upload-thumb-proto">
                        <img alt='animation' src='{{ asset('bundles/ingenious/images/uploading.gif', version='1.0') }}'>
                        <div class="control-label file-size"></div>
                    </div>
                </div>
            </form>
            <div class="cancel-upload">
                <a href="#"><img src="{{ asset('bundles/ingenious/images/nav-close-light.png') }}"></a>
            </div>
        </div>
    </div> <!-- Create post form end -->

    <!-- Select Post form -->
    <div id="select-post" class="select-post close">
        <div class="profile-update-form">
            <h1 class="page-title">Edit Post</h1>
            <form id="post-select" class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Post</label>
                    <div class="col-xs-6">
                        <div id="delete-list-existent-posts" class="col-sm-12 select-album">
                            <select class="form-control" id="select-post-id">
                                <option value="undefined">---</option>
                                {% if articles is defined %}
                                    {% for article in articles %}
                                        <option value="{{ article.id }}">{{ article.title }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <button class="btn delete-post-btn" type="submit"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </div>
                <div class="form-group">
                    <div class="col-md-12 update-account">
                        <button id="edit-post-btn" class="btn" type="button">Edit Post</button>
                    </div>
                    <label class="col-sm-offset-1 control-label" id="post-delete-info"></label><br>
                </div>
            </form>
            <div class="cancel-upload">
                <a href="#"><img src="{{ asset('bundles/ingenious/images/nav-close-light.png') }}"></a>
            </div>
        </div>
    </div> <!-- Select post form end -->

    <!-- Edit Post form -->
    <div id="add-editted-post" class="edit-post close">
        <div class="profile-update-form">
            <h1 class="page-title">Edit Post</h1>
            <form id="edit-post" action="{{ contentManager }}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Title</label>
                    <div class="col-xs-8">
                        <input name="title" id="edit-post-title" type="text" class="form-control" required="required" maxlength="128">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Body</label>
                    <div class="col-xs-8">
                        <textarea name="body" id="edit-post-body" type="text" class="post-body" required="required"></textarea>
                    </div>
                </div>
                <div id="edit-post-list-existent-albums" class="col-xs-12 col-sm-8 select-album">
                    <select class="form-control" id="edit-post-album-id" name="album_id">
                        <option value="undefined">---</option>
                        {% if catalog is defined %}
                            {% for album in catalog|reverse %}
                                <option value="{{ album.id }}">{{ album.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="form-group" id="edit-upload-post-photo" {% if articlePicturesID is defined %}
                        articlePicturesID="{{ articlePicturesID }}"{% endif %}>
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Photo</label>
                    <div class="col-xs-8">
                        <div class="col-xs-4 update-pp">
                            <input name="photo" id="edit-post-photo" type="file" class="form-control" single="single"
                                   accept="image/*"/>
                            <span id="browse-button-edit-article-album">Browse</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Author</label>
                    <div class="col-xs-8">
                        <input name="author" id="edit-post-author" type="text" class="form-control" required="required" maxlength="128">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Excerpt</label>
                    <div class="col-xs-8">
                        <input name="extract" id="edit-post-extract" type="text" class="form-control" required="required" maxlength="128">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Location</label>
                    <div class="col-xs-8">
                        <input name="location" id="edit-post-location" type="text" class="form-control" required="required" maxlength="128">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 update-account">
                        <button class="btn" id="add-editted-post-button" type="submit">Save Post</button>
                        <button id="delete-editted-post-button" class="delete-post-btn lg-close" type="button">Delete Post</a>
                    </div>
                    <label class="col-sm-offset-1 control-label" id="edit-post-loading"></label><br>
                    <div class="result" id="edit-post-result"></div>
                    <div class="post-upload-thumb"  id="edit-post-upload-thumb-proto">
                        <img alt='animation' src='{{ asset('bundles/ingenious/images/uploading.gif', version='1.0') }}'>
                        <div class="control-label file-size"></div>
                    </div>
                </div>
            </form>
            <div class="cancel-upload">
                <a href="#"><img src="{{ asset('bundles/ingenious/images/nav-close-light.png') }}"></a>
            </div>
            <div class="back-to-post">
                <a href="#"><img src="{{ asset('bundles/ingenious/images/arrow-left.png') }}"></a>
            </div>
        </div>
    </div> <!-- Edit post form end -->

    {% if "/app_dev.php/myphotos" == path(app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')) or "/myphotos" == path(app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')) %}
        <!-- Add cover form -->
        <div id="add-cover-photo" class="add-cover-photo close">
            <div class="profile-update-form">
                <h1 class="page-title">Add Cover Photo</h1>
                <form id="cover-upload" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Photo</label>
                        <div class="col-xs-8">
                            <div class="col-xs-4 update-pp">
                                <input class="form-control" id="add-cover-input" type="file" accept="image/*"
                                       required/>
                                <span id="browse-button-cover">Browse</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 update-account">
                            <button class="btn" id="add-cover-button" coverPicturesID="{{ coverPicturesID }}" userManager="{{ userManager }}" type="submit">Add Cover</button>
                        </div>
                        <label class="col-sm-offset-1 control-label" id="cover-info"></label><br>
                    </div>
                    <div class="album-container-cover" id="all-images-cover">
                        {% for image in allImages %}
                            <!--single-photo-->
                            <div class="col-sm-2 col-xs-4 album-thumb">
                                <figure class="cover-thumb" id="{{ image.large_url }}">
                                    <img src="{{ image.thumb_url }}" alt="Europe">
                                </figure>
                            </div><!--./single album thumb-->
                        {% endfor %}
                    </div> <!--./album-container-->
                </form>
                <div class="cancel-upload">
                    <a href="#"><img src="{{ asset('bundles/ingenious/images/nav-close-light.png') }}"></a>
                </div>
            </div>
        </div> <!-- Add cover photo form end -->
    {% endif %}

{% endblock %}