{# app/Resources/views/home.html.twig #}
{# app/Resources/views/banners.html.twig #}
{% extends 'base.html.twig' %}
    {% block loginButton %}
        
    {% endblock %}

{% block pagebody %}
<section class="post">
    <div class="container-fluid">
        <div class="row">
            {% block hero %}
            <div class="post-hero-banner">
                <div class="post-header">
                    <div class="single-post-title">
                        <h1>{{ article.title }}</h1>
                    </div>
                    {#% block photos %#}
                    <div id="lightgallery">
                        {% for image in images %}
                        <!--single-photo-->
                            <a class="hideOverflow" href="{{ image.medium_url }}" data-sub-html='<h1 class="photo-title">{{ image.name }}</h1>
                            <div class="single-post-title">
                                <h1>{{ article.title }}</h1>
                            </div>
                            <div class="single-post-meta">
                                <div class="author-meta">
                                    <img class="pull-left" src="{{ asset('bundles/ingenious/images/author-avatar.png') }}" alt="Author">
                                    <h4 class="pull-left">{{ article.author }}</h4>
                                </div>
                                <div class="date-meta pull-left">
                                    <p> <time datetime="01-13-16">{{ article.date | date("m/d/Y") }} </time> </p>
                                </div>
                                <div class="place-meta">
                                    <img class="pull-left" src="{{ asset('bundles/ingenious/images/icon-map-marker.png') }}" alt="Location">
                                    <h4 class="pull-left">{{ article.location }}</h4>
                                </div>
                            </div>
                            {% block article %}
                            <div class="post-content">
                                <div class="content-inner">
                                    <p>{{ article.body }}</p>
                                </div>
                            </div>
                            {% endblock %}
                            <div class="back-to-home">
                                <a href="/#{{ article.id }}">Back to Home</a>
                            </div> '>
                            <!--./lightbox content for each photo ****NOTE THE '> AT THE END OF THE data-sub-html element****-->

                                <div class="col-sm-2 col-xs-4 photo-thumb">
                                    <figure>
                                        <img src="{{ image.thumb_url }}" alt="{{ article.title }}">
                                    </figure>
                                </div><!--./single album thumb-->
                            </a> <!-- ./single-photo-->
                    {% endfor %}
                </div> <!--./album-container-->
                {#% endblock %#}

                </div>
            </div>
            {% endblock %}
        </div>
    </div> <!--./end container-->
</section><!-- ./ end post content-->
{% endblock %}
